@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // var data = (int)TempData["x"];
    // TempData.Keep();
    
}

<h2>Index Page</h2>
@* <h3>X=@data</h3>
 *@
@Html.ActionLink("Goto second page","SecondPage",null,htmlAttributes:new {target="_blank"})